body {
    background-color: #edf2ed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin-left: 500px;
}

#feb {
    color: antiquewhite;
    background-color: aqua;
    font-size: 50px;
    margin-top: 10px;
}

#birthday {
    color: #FFF2D8;
    background-color: #113946;
    font-size: 60px;
    margin-left: 490px;
}

ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

p {
    font-family: 'Caveat', cursive;
    font-size: 50px;  
}

li {
    display: inline-block;
}

#link, #link2 {
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    color: #f2f599;
    border-radius: 50%;
    overflow: hidden;
}

#link a, #link2 a {
    display: block;
    padding: 10px;
    color: #f2f599;
    text-decoration: none;
}

#link, #link2 {
    background-color: #5c59f8;
    clip-path: ellipse(75% 50% at 50% 50%);
}

li a::before, li b::before {
    content: url('your-icon-path.png');
    margin-right: 10px; 
}
